
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 189.6rem;
}.item-2-cni {
  width: 100%;
  height: 101rem;
  position: relative;
  overflow: hidden;
  background-color: #e8ecef;

  .frame-10-voQ {
    padding-left: 0.3167rem;
    width: 29rem;
    height: 4.4rem;
    position: absolute;
    top: 1.2rem;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    left: 158.2rem;

    .si-notificationsthick-2bY {
      margin: 0.6rem 2.633rem 0rem 0rem;
      width: 3.1667rem;
      height: 3.1667rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .si-info-jF4 {
      height: 3.1667rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.6rem 2.317rem 0rem 0rem;
      width: 3.1667rem;
    }
    .si-useralt5-ExW {
      margin: 0.6rem 2.2rem 0rem 0rem;
      width: 3.6rem;
      height: 3.6rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .item-2024-14022024-MnE {
      text-align: right;
      font-size: 1.6rem;
      line-height: 1.25;
      color: #202020;
      margin-bottom: 0.4rem;
      max-width: 11.6rem;
      flex-shrink: 0;
      font-weight: 400;
      font-family: Montserrat Alternates, 'Source Sans Pro';
    }
  }
  .frame-302-2Na {
    width: 6rem;
    height: 101rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
    vertical-align: top;
  }
  .doubarrow-NBY {
    height: 4.2rem;
    position: absolute;
    left: 0.4rem;
    width: 5.1rem;
    padding: 1.4rem 1.75rem;
    top: 96.3rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    .si-chevronright-se6 {
      height: 1.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.2rem;
      width: 0.7rem;
    }
    .si-chevronright-oGr {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 0.7rem;
      height: 1.4rem;
    }
  }
  .frame-305-LXg {
    align-items: center;
    padding: 5.488rem 1.2rem 1.5rem 1.2rem;
    width: 183.6rem;
    height: 94.2rem;
    top: 6.8rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-sizing: border-box;
    position: absolute;
    left: 6rem;

    .frame-307-ck6 {
      margin: 0rem 8.017rem 10rem 0rem;
      height: 15.7125rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .auto-group-s7pl-9V8 {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 6.1rem;
        width: 19.05rem;

        .frame-7-svv {
          flex-shrink: 0;
          margin: 0rem 1.9rem 4rem 0.75rem;
          width: calc(100% - 2.65rem);
          position: relative;
          display: flex;
          align-items: center;
          background-color: #e8ecef;
          border-radius: 0.8rem;
          box-sizing: border-box;
          padding: 1.002rem 2.4rem 1rem 1.601rem;
          overflow: hidden;

          .item-1-nHC {
            margin-right: 1.8004rem;
            width: 2.8982rem;
            height: 3.0981rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item--VhQ {
            margin-bottom: 0.4019rem;
            line-height: 0.8333333333;
            font-family: Montserrat Alternates, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 400;
            color: #202020;
            flex-shrink: 0;
          }
        }
        .group-2-MzW {
          width: 100%;
          height: 6.3rem;
          position: relative;
          flex-shrink: 0;

          .item--WsQ {
            position: absolute;
            top: 3rem;
            font-weight: 400;
            color: #202020;
            font-family: Montserrat Alternates, 'Source Sans Pro';
            white-space: nowrap;
            width: 10.2rem;
            height: 2rem;
            left: 2.3rem;
            text-align: center;
            font-size: 2.4rem;
            line-height: 0.8333333333;
          }
          .frame-2-ByY {
            width: 19.05rem;
            height: 6.3rem;
            position: absolute;
            left: 0;
            top: 0;

            .item--iyU {
              color: #777b7e;
              font-family: Times New Roman, 'Source Sans Pro';
              white-space: nowrap;
              width: 100%;
              text-align: center;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.25;
            }
            .auto-group-ybpc-2jG {
              margin-left: 0.75rem;
              box-sizing: border-box;
              padding: 1.775rem 1.492rem 1.675rem 15.392rem;
              border: solid 0.3rem #c5cacf;
              border-radius: 0.4rem;

              .si-expandmore-kfG {
                height: 0.85rem;
                object-fit: contain;
                vertical-align: top;
                width: 1.4167rem;
              }
            }
          }
        }
      }
      .auto-group-r83y-T3t {
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 6.9rem;
        width: 78.5rem;
        height: 100%;
        align-items: center;
        display: flex;

        .auto-group-yena-BVg {
          margin-bottom: 4rem;
          width: 100%;
          height: 5.4125rem;
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .item--XJe {
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin-right: 10.85rem;
            width: 22.4rem;
            height: 100%;

            .frame-6-rbp {
              overflow: hidden;
              display: flex;
              background-color: #e8ecef;
              padding: 1rem 2.8rem 1rem 1.6rem;
              width: 100%;
              position: relative;
              align-items: center;
              border-radius: 0.8rem;
              box-sizing: border-box;
              height: 100%;

              .cicle-aXp {
                width: 4.2rem;
                height: 3.4125rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.6rem;
              }
              .item--Jyc {
                text-align: center;
                font-size: 2.4rem;
                line-height: 0.8333333333;
                color: #202020;
                font-family: Montserrat Alternates, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 0.1rem;
                font-weight: 400;
                white-space: nowrap;
              }
            }
          }
          .item--BGi {
            margin-top: 2.2125rem;
            box-sizing: border-box;
            padding: 0.4rem 0.4rem 0.4rem 0rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .item--gzA {
              font-family: Montserrat Alternates, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0.2rem 2.45rem 0rem 0rem;
              text-align: center;
              font-weight: 400;
              line-height: 0.8333333333;
              font-size: 2.4rem;
              color: #000000;
              flex-shrink: 0;
            }
            .si-square-kUE {
              vertical-align: top;
              flex-shrink: 0;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
            }
          }
        }
        .auto-group-wl9c-tqL {
          margin: 0rem 0.6rem 0rem 1.65rem;
          width: calc(100% - 2.25rem);
          height: 6.3rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-3-1ux {
            margin-right: 7.8rem;
            width: 32.75rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .item--ZwU {
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 0.8333333333;
              white-space: nowrap;
              width: 20.7rem;
              height: 2rem;
              top: 3.1rem;
              color: #202020;
              font-family: Montserrat Alternates, 'Source Sans Pro';
              position: absolute;
              left: 1.5rem;
              text-align: center;
            }
            .frame-3-TGA {
              width: 32.75rem;
              height: 6.3rem;
              position: absolute;
              left: 0;
              top: 0;

              .item--c94 {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.25;
                color: #777b7e;
                font-family: Times New Roman, 'Source Sans Pro';
                white-space: nowrap;
                width: 100%;
                text-align: center;
              }
              .auto-group-ftee-YYW {
                border-radius: 0.4rem;
                margin-left: 0.25rem;
                box-sizing: border-box;
                padding: 1.775rem 1.492rem 1.675rem 29.592rem;
                border: solid 0.3rem #c5cacf;

                .si-expandmore-san {
                  width: 1.4167rem;
                  height: 0.85rem;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
            }
          }
          .item--yNv {
            position: relative;
            flex-shrink: 0;
            width: 35.7rem;
            height: 100%;

            .item-21022024-WNr {
              left: 3.55rem;
              font-weight: 400;
              line-height: 0.8333333333;
              height: 2rem;
              position: absolute;
              text-align: center;
              font-size: 2.4rem;
              color: #202020;
              font-family: Montserrat Alternates, 'Source Sans Pro';
              white-space: nowrap;
              width: 12.1rem;
              top: 3rem;
            }
            .item-10042024-osk {
              top: 3rem;
              text-align: center;
              font-size: 2.4rem;
              color: #202020;
              width: 12.5rem;
              position: absolute;
              left: 21.65rem;
              font-family: Montserrat Alternates, 'Source Sans Pro';
              white-space: nowrap;
              height: 2rem;
              font-weight: 400;
              line-height: 0.8333333333;
            }
            .item--uvn {
              left: 1.15rem;
              font-size: 2.4rem;
              font-weight: 400;
              white-space: nowrap;
              height: 2rem;
              position: absolute;
              top: 3rem;
              text-align: center;
              line-height: 0.8333333333;
              color: #787b7e;
              font-family: Montserrat Alternates, 'Source Sans Pro';
              width: 1.4rem;
            }
            .item--DwU {
              font-size: 2.4rem;
              color: #787b7e;
              font-family: Montserrat Alternates, 'Source Sans Pro';
              width: 3.1rem;
              height: 2rem;
              left: 17.8rem;
              top: 3rem;
              white-space: nowrap;
              position: absolute;
              text-align: center;
              font-weight: 400;
              line-height: 0.8333333333;
            }
            .frame-4-94S {
              top: 0;
              width: 35.7rem;
              height: 6.3rem;
              position: absolute;
              left: 0;

              .item--gaA {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.25;
                color: #777b7e;
                font-family: Times New Roman, 'Source Sans Pro';
                white-space: nowrap;
                width: 100%;
                text-align: center;
              }
              .auto-group-vwfc-D4J {
                border: solid 0.3rem #c5cacf;
                border-radius: 0.4rem;
                margin-left: 0.2rem;
                box-sizing: border-box;
                padding: 0rem 18.7rem 0rem 16.5rem;
                width: 35.5rem;
                height: 4.3rem;

                .line-19-hEN {
                  background-color: #c6cbcf;
                  width: 100%;
                  height: 4.2rem;
                }
              }
            }
          }
        }
      }
      .auto-group-msbu-ANr {
        flex-shrink: 0;
        width: 56.5327rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .frame-9-hNn {
          box-sizing: border-box;
          padding: 0.4rem 0.4rem 0.4rem 0rem;
          width: calc(100% - 11.8827rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 7.333rem 4rem 4.55rem;

          .item--byx {
            line-height: 0.8333333333;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.2rem 3.05rem 0rem 0rem;
            font-size: 2.4rem;
            font-family: Montserrat Alternates, 'Source Sans Pro';
            text-align: center;
            font-weight: 400;
          }
          .si-square-GKQ {
            vertical-align: top;
            flex-shrink: 0;
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
          }
        }
        .auto-group-jqx6-QgW {
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;
          width: 100%;
          height: 6.3rem;

          .frame-3-jyg {
            margin-right: 8.0327rem;
            width: 24.4rem;
            height: 100%;
            flex-shrink: 0;

            .item--UwG {
              text-align: center;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.25;
              color: #777b7e;
              font-family: Times New Roman, 'Source Sans Pro';
              white-space: nowrap;
              width: 100%;
            }
            .rectangle-8-C6a {
              margin-left: 0.5rem;
              width: 23.9rem;
              height: 4.3rem;
              border: solid 0.3rem #c5cacf;
              box-sizing: border-box;
              border-radius: 0.4rem;
            }
          }
          .item--umg {
            border-radius: 0.8rem;
            flex-shrink: 0;
            width: 24.1rem;
            height: 5.9rem;

            .frame-5-rB8 {
              position: relative;
              align-items: center;
              border-radius: 0.8rem;
              width: 100%;
              padding: 1.7rem 2.5rem 1.65rem 2.433rem;
              height: 100%;
              overflow: hidden;
              display: flex;
              background-color: #e8ecef;
              box-sizing: border-box;

              .si-checkalt-mot {
                height: 2.4375rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.113rem 2.733rem 0rem 0rem;
                width: 2.3333rem;
              }
              .item--gfx {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.55rem;
                line-height: 0.8333333333;
                font-weight: 400;
                color: #202020;
                font-family: Montserrat Alternates, 'Source Sans Pro';
                text-align: center;
                font-size: 2.4rem;
              }
            }
          }
        }
      }
    }
    .auto-group-gfee-ju8 {
      flex-shrink: 0;
      margin: 0rem 100.05rem 4.5rem 0rem;
      width: 81.15rem;
      height: 55rem;

      .item--ryk {
        display: flex;
        flex-direction: column;
        width: 2.2rem;
        height: 100%;
        row-gap: 2.2rem;
        align-items: center;

        .component-5-AjY {
          width: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .rectangle-17-vTp {
            height: 2.2rem;
            border: solid 0.15rem #787b7e;
            box-sizing: border-box;
            border-radius: 0.4rem;
            width: 100%;
          }
        }
        .component-6-44E {
          flex-shrink: 0;
          width: 100%;
          cursor: pointer;

          .rectangle-17-214 {
            box-sizing: border-box;
            border-radius: 0.4rem;
            width: 100%;
            height: 2.2rem;
            border: solid 0.15rem #787b7e;
          }
        }
        .component-7-A7G {
          width: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .rectangle-17-8Jz {
            width: 100%;
            height: 2.2rem;
            border: solid 0.15rem #787b7e;
            box-sizing: border-box;
            border-radius: 0.4rem;
          }
        }
        .component-8-4iS {
          cursor: pointer;
          flex-shrink: 0;
          width: 100%;

          .rectangle-17-dmY {
            border-radius: 0.4rem;
            width: 100%;
            height: 2.2rem;
            border: solid 0.15rem #787b7e;
            box-sizing: border-box;
          }
        }
        .component-9-Nz2 {
          width: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .rectangle-17-LR4 {
            width: 100%;
            height: 2.2rem;
            border: solid 0.15rem #787b7e;
            box-sizing: border-box;
            border-radius: 0.4rem;
          }
        }
        .component-10-sQz {
          flex-shrink: 0;
          width: 100%;
          cursor: pointer;

          .rectangle-17-EmL {
            width: 100%;
            height: 2.2rem;
            border: solid 0.15rem #787b7e;
            box-sizing: border-box;
            border-radius: 0.4rem;
          }
        }
        .component-11-P8S {
          width: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .rectangle-17-9tJ {
            height: 2.2rem;
            border: solid 0.15rem #787b7e;
            box-sizing: border-box;
            border-radius: 0.4rem;
            width: 100%;
          }
        }
        .component-12-tqt {
          flex-shrink: 0;
          width: 100%;
          cursor: pointer;

          .rectangle-17-fbk {
            width: 100%;
            height: 2.2rem;
            border: solid 0.15rem #787b7e;
            box-sizing: border-box;
            border-radius: 0.4rem;
          }
        }
        .component-13-oxr {
          width: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .rectangle-17-B4J {
            width: 100%;
            height: 2.2rem;
            border: solid 0.15rem #787b7e;
            box-sizing: border-box;
            border-radius: 0.4rem;
          }
        }
        .component-14-WcN {
          width: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .rectangle-17-GrS {
            width: 100%;
            height: 2.2rem;
            border: solid 0.15rem #787b7e;
            box-sizing: border-box;
            border-radius: 0.4rem;
          }
        }
        .component-15-DFt {
          cursor: pointer;
          flex-shrink: 0;
          width: 100%;

          .rectangle-17-acE {
            width: 100%;
            height: 2.2rem;
            border: solid 0.15rem #787b7e;
            box-sizing: border-box;
            border-radius: 0.4rem;
          }
        }
        .component-16-KJv {
          width: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .rectangle-17-gvA {
            width: 100%;
            height: 2.2rem;
            border: solid 0.15rem #787b7e;
            box-sizing: border-box;
            border-radius: 0.4rem;
          }
        }
        .component-17-S8e {
          cursor: pointer;
          flex-shrink: 0;
          width: 100%;

          .rectangle-17-zvr {
            border: solid 0.15rem #787b7e;
            box-sizing: border-box;
            border-radius: 0.4rem;
            width: 100%;
            height: 2.2rem;
          }
        }
      }
    }
    .item--Xvn {
      flex-shrink: 0;
      margin: 0 81.25rem;
      width: calc(100% - 162.5rem);
      height: 2rem;
      display: flex;
      column-gap: 7.5rem;
      align-items: center;

      .item-1-qga {
        height: 100%;
        line-height: 0.8333333333;
        font-family: Montserrat Alternates, 'Source Sans Pro';
        justify-content: center;
        flex-shrink: 0;
        width: 0.9rem;
        font-size: 2.4rem;
        text-align: center;
        color: #787b7e;
        white-space: nowrap;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-weight: 400;
      }
      .item-2-LNS {
        text-align: center;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 0.8333333333;
        color: #000000;
        font-family: Montserrat Alternates, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item-4-gBQ {
        font-weight: 400;
        white-space: nowrap;
        width: 1.4rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 100%;
        cursor: pointer;
        color: #787b7e;
        display: flex;
        flex-shrink: 0;
        font-size: 2.4rem;
        line-height: 0.8333333333;
        font-family: Montserrat Alternates, 'Source Sans Pro';
      }
    }
  }
  .item--AcN {
    width: 186.0004rem;
    height: 61.3137rem;
    position: absolute;
    left: 5.9998rem;
    top: 33.2rem;
    border-bottom: solid 0.3rem #c6cbcf;
    box-sizing: border-box;

    .auto-group-lxan-tHU {
      height: 61.0001rem;
      position: relative;
      border-right: solid 0.3rem #c6cbcf;
      box-sizing: border-box;
      border-left: solid 0.3rem #c6cbcf;
      width: 100%;

      .frame-12-17C {
        padding: 1.3rem 4.1rem;
        height: 4.6rem;
        position: absolute;
        border: solid 0.3rem #c5cacf;
        white-space: nowrap;
        left: 4.4002rem;
        text-align: center;
        line-height: 1.1764705882;
        letter-spacing: 0.748rem;
        color: #787b7e;
        border-radius: 0.8rem;
        width: 179.2rem;
        top: 3.6rem;
        overflow: hidden;
        font-weight: 400;
        box-sizing: border-box;
        font-size: 1.7rem;
        font-family: Montserrat Alternates, 'Source Sans Pro';
      }
      .frame-13-deN {
        position: absolute;
        overflow: hidden;
        color: #787b7e;
        box-sizing: border-box;
        left: 0.0002rem;
        font-weight: 400;
        line-height: 0.8333333333;
        height: 3.9rem;
        top: 0;
        font-size: 2.4rem;
        white-space: nowrap;
        border: solid 0.3rem #c6cbcf;
        border-radius: 1.6rem 1.6rem 0 0;
        padding: 0.95rem 7rem;
        width: 183.6rem;
        text-align: center;
        font-family: Montserrat Alternates, 'Source Sans Pro';
      }
      .line-5-Hiv {
        height: 0.3rem;
        position: absolute;
        left: 0;
        top: 21.4137rem;
        background-color: #c6cbcf;
        width: 186.0004rem;
      }
      .line-11-QoY {
        width: 186.0004rem;
        height: 0.3rem;
        position: absolute;
        left: 0;
        top: 52.2076rem;
        background-color: #c6cbcf;
      }
      .line-3-x4N {
        left: 0;
        top: 12.6076rem;
        background-color: #c6cbcf;
        width: 186.0004rem;
        height: 0.3rem;
        position: absolute;
      }
      .line-12-HsL {
        left: 0;
        top: 43.4015rem;
        background-color: #c6cbcf;
        width: 186.0004rem;
        height: 0.3rem;
        position: absolute;
      }
      .line-6-qdx {
        width: 186.0004rem;
        height: 0.3rem;
        position: absolute;
        left: 0;
        top: 30.2198rem;
        background-color: #c6cbcf;
      }
      .line-2-PQa {
        width: 186.0004rem;
        height: 0.3rem;
        position: absolute;
        left: 0;
        top: 8.2046rem;
        background-color: #c6cbcf;
      }
      .line-7-8sx {
        height: 0.3rem;
        position: absolute;
        left: 0;
        top: 25.8167rem;
        background-color: #c6cbcf;
        width: 186.0004rem;
      }
      .line-14-gea {
        left: 0;
        top: 56.6106rem;
        background-color: #c6cbcf;
        width: 186.0004rem;
        height: 0.3rem;
        position: absolute;
      }
      .line-4-2iS {
        width: 186.0004rem;
        height: 0.3rem;
        position: absolute;
        left: 0;
        top: 17.0106rem;
        background-color: #c6cbcf;
      }
      .line-15-kuL {
        position: absolute;
        left: 0;
        top: 47.8046rem;
        background-color: #c6cbcf;
        width: 186.0004rem;
        height: 0.3rem;
      }
      .line-10-Vc2 {
        width: 0.3rem;
        height: 60.7001rem;
        position: absolute;
        left: 4.6251rem;
        top: 0.2rem;
        background-color: #c6cbcf;
      }
      .line-8-2M4 {
        height: 0.3rem;
        position: absolute;
        left: 0;
        top: 34.6228rem;
        background-color: #c6cbcf;
        width: 186.0004rem;
      }
      .line-9-Zrn {
        width: 186.0004rem;
        height: 0.3rem;
        position: absolute;
        left: 0;
        top: 39.0258rem;
        background-color: #c6cbcf;
      }
      .frame-303-7NW {
        width: 81.9rem;
        height: 50.4rem;
        position: absolute;
        left: 5.9502rem;
        top: 9.3rem;

        .item-2018-2kN {
          text-align: center;
          font-weight: 400;
          line-height: 0.9090909091;
          width: 32.2rem;
          height: 2rem;
          position: absolute;
          left: 0;
          top: 0;
          color: #202020;
          white-space: nowrap;
          font-size: 2.2rem;
          font-family: Montserrat Alternates, 'Source Sans Pro';
        }
        .item-4062-6VL {
          width: 22.8rem;
          position: absolute;
          line-height: 0.9090909091;
          color: #202020;
          height: 2rem;
          left: 0.15rem;
          top: 4.4rem;
          text-align: center;
          font-size: 2.2rem;
          font-weight: 400;
          font-family: Montserrat Alternates, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-2092-Azz {
          left: 1.2rem;
          top: 8.8rem;
          text-align: center;
          height: 2rem;
          position: absolute;
          font-weight: 400;
          line-height: 0.9090909091;
          color: #202020;
          font-family: Montserrat Alternates, 'Source Sans Pro';
          white-space: nowrap;
          width: 80.7rem;
          font-size: 2.2rem;
        }
        .item-2002-mjt {
          font-weight: 400;
          color: #202020;
          width: 29.8rem;
          position: absolute;
          left: 0.15rem;
          top: 13.2rem;
          text-align: center;
          font-size: 2.2rem;
          font-family: Montserrat Alternates, 'Source Sans Pro';
          white-space: nowrap;
          height: 2rem;
          line-height: 0.9090909091;
        }
        .item-4067-qze {
          color: #202020;
          height: 2rem;
          left: 0.2rem;
          top: 17.6rem;
          text-align: center;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 0.9090909091;
          width: 29.8rem;
          position: absolute;
          font-family: Montserrat Alternates, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-4078-K98 {
          text-align: center;
          font-weight: 400;
          line-height: 0.9090909091;
          font-family: Montserrat Alternates, 'Source Sans Pro';
          width: 29.9rem;
          position: absolute;
          top: 22rem;
          color: #202020;
          white-space: nowrap;
          height: 2rem;
          left: 0.15rem;
          font-size: 2.2rem;
        }
        .item-4059-yzN {
          width: 30.9rem;
          height: 2rem;
          font-size: 2.2rem;
          line-height: 0.9090909091;
          color: #202020;
          font-family: Montserrat Alternates, 'Source Sans Pro';
          position: absolute;
          left: 0.55rem;
          top: 26.4rem;
          text-align: center;
          font-weight: 400;
          white-space: nowrap;
        }
        .item-4031-EvJ {
          left: 0;
          text-align: center;
          line-height: 0.9090909091;
          white-space: nowrap;
          color: #202020;
          font-family: Montserrat Alternates, 'Source Sans Pro';
          width: 19.9rem;
          height: 2rem;
          position: absolute;
          top: 30.8rem;
          font-size: 2.2rem;
          font-weight: 400;
        }
        .item-2095-8kn {
          height: 2rem;
          font-weight: 400;
          color: #202020;
          white-space: nowrap;
          font-family: Montserrat Alternates, 'Source Sans Pro';
          width: 48.9rem;
          position: absolute;
          left: 0.1rem;
          top: 35.2rem;
          text-align: center;
          font-size: 2.2rem;
          line-height: 0.9090909091;
        }
        .item-2696142000451964-b8a {
          width: 68.3rem;
          height: 2rem;
          top: 39.6rem;
          line-height: 0.9090909091;
          font-family: Montserrat Alternates, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          left: 0.05rem;
          text-align: center;
          font-size: 2.2rem;
          font-weight: 400;
          color: #202020;
        }
        .item-2085-2Dt {
          font-family: Montserrat Alternates, 'Source Sans Pro';
          position: absolute;
          left: 0;
          top: 44rem;
          font-size: 2.2rem;
          line-height: 0.9090909091;
          white-space: nowrap;
          width: 22.5rem;
          height: 2rem;
          text-align: center;
          font-weight: 400;
          color: #202020;
        }
        .item-2-2045-isQ {
          position: absolute;
          left: 0.9rem;
          line-height: 0.9090909091;
          font-family: Montserrat Alternates, 'Source Sans Pro';
          white-space: nowrap;
          color: #202020;
          width: 43.5rem;
          height: 2rem;
          top: 48.4rem;
          text-align: center;
          font-size: 2.2rem;
          font-weight: 400;
        }
      }
    }
  }
  .frame-310-Xpr {
    top: 3.6rem;
    display: flex;
    align-items: center;
    width: 32.4rem;
    height: 3.2rem;
    position: absolute;
    left: 6rem;

    .frame-15-TTc {
      display: flex;
      align-items: center;
      background-color: #ffffff;
      border-radius: 0.8rem 0.8rem 0 0;
      flex-shrink: 0;
      padding: 0.4rem 0.6rem 0.4rem 1.55rem;
      height: 100%;
      position: relative;
      box-sizing: border-box;
      overflow: hidden;

      .item--zCe {
        text-align: center;
        font-size: 2rem;
        font-family: Montserrat Alternates, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.15rem;
        font-weight: 400;
        line-height: 1;
        color: #202020;
      }
      .si-close-h74 {
        height: 2.4rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 2.4rem;
      }
    }
    .component-3-Bnv {
      position: relative;
      display: flex;
      border-radius: 0.8rem 0.8rem 0 0;
      flex-shrink: 0;
      box-sizing: border-box;
      height: 100%;
      overflow: hidden;
      background-color: #b3becd;
      padding: 0.4rem 0.45rem 0.4rem 3.6rem;
      cursor: pointer;
      align-items: center;

      .item--uiv {
        flex-shrink: 0;
        color: #787b7e;
        white-space: nowrap;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1;
        font-family: Montserrat Alternates, 'Source Sans Pro';
        margin: 0rem 3.35rem 0.2rem 0rem;
        text-align: center;
      }
      .si-close-Qva {
        width: 2.4rem;
        height: 2.4rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
