
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 189.6rem;
}.item-3-fHg {
  width: 100%;
  height: 101rem;
  position: relative;
  overflow: hidden;
  background-color: #e8ecef;

  .rectangle-3-mLi {
    position: absolute;
    left: 22.2rem;
    top: 3.6rem;
    background-color: #e8ecef;
    border-radius: 0.8rem 0.8rem 0 0;
    width: 16.4rem;
    height: 3.2rem;
  }
  .rectangle-4-GHU {
    top: 3.6rem;
    background-color: #e8ecef;
    border-radius: 0.8rem 0.8rem 0 0;
    width: 16.4rem;
    height: 3.2rem;
    position: absolute;
    left: 38.3rem;
  }
  .frame-306-aox {
    width: 183.6rem;
    top: 6.8rem;
    align-items: center;
    display: flex;
    background-color: #ffffff;
    padding: 5.488rem 4.25rem 1.5rem 4.25rem;
    height: 94.2rem;
    position: absolute;
    left: 6rem;
    overflow: hidden;
    flex-direction: column;
    box-sizing: border-box;

    .frame-307-fqQ {
      align-items: flex-end;
      flex-shrink: 0;
      margin: 0rem 8.017rem 14.4rem 0rem;
      height: 15.7125rem;
      display: flex;

      .auto-group-awpv-nv2 {
        margin-right: 6.1rem;
        width: 19.05rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .frame-7-8U6 {
          box-sizing: border-box;
          display: flex;
          align-items: center;
          border-radius: 0.8rem;
          flex-shrink: 0;
          margin: 0rem 1.9rem 4rem 0.75rem;
          padding: 1.002rem 2.4rem 1rem 1.601rem;
          width: calc(100% - 2.65rem);
          overflow: hidden;
          position: relative;
          background-color: #e8ecef;

          .item-1-23g {
            flex-shrink: 0;
            margin-right: 1.8004rem;
            width: 2.8982rem;
            height: 3.0981rem;
            object-fit: contain;
            vertical-align: top;
          }
          .item--KHg {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.4019rem;
            text-align: center;
            line-height: 0.8333333333;
            color: #202020;
            font-family: Montserrat Alternates, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 400;
          }
        }
        .group-2-z8v {
          width: 100%;
          height: 6.3rem;
          position: relative;
          flex-shrink: 0;

          .item--Lia {
            width: 10.2rem;
            height: 2rem;
            position: absolute;
            left: 2.3rem;
            font-size: 2.4rem;
            top: 3rem;
            text-align: center;
            font-weight: 400;
            line-height: 0.8333333333;
            color: #202020;
            font-family: Montserrat Alternates, 'Source Sans Pro';
            white-space: nowrap;
          }
          .frame-2-pte {
            width: 19.05rem;
            height: 6.3rem;
            position: absolute;
            left: 0;
            top: 0;

            .item--a78 {
              font-weight: 400;
              line-height: 1.25;
              color: #777b7e;
              font-family: Times New Roman, 'Source Sans Pro';
              white-space: nowrap;
              width: 100%;
              text-align: center;
              font-size: 1.6rem;
            }
            .auto-group-dazt-5Jn {
              border: solid 0.3rem #c5cacf;
              border-radius: 0.4rem;
              margin-left: 0.75rem;
              box-sizing: border-box;
              padding: 1.775rem 1.492rem 1.675rem 15.392rem;

              .si-expandmore-oVg {
                object-fit: contain;
                vertical-align: top;
                width: 1.4167rem;
                height: 0.85rem;
              }
            }
          }
        }
      }
      .auto-group-b7pi-6za {
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 6.9rem;
        width: 78.5rem;
        height: 100%;
        align-items: center;
        display: flex;

        .auto-group-dt7t-SoY {
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;
          margin-bottom: 4rem;
          width: 100%;
          height: 5.4125rem;

          .item--zKG {
            margin-right: 10.85rem;
            width: 22.4rem;
            height: 100%;
            border-radius: 0.8rem;
            flex-shrink: 0;

            .frame-6-XKC {
              width: 100%;
              height: 100%;
              overflow: hidden;
              display: flex;
              background-color: #e8ecef;
              box-sizing: border-box;
              padding: 1rem 2.8rem 1rem 1.6rem;
              border-radius: 0.8rem;
              position: relative;
              align-items: center;

              .cicle-3YS {
                flex-shrink: 0;
                margin-right: 1.6rem;
                width: 4.2rem;
                height: 3.4125rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
              }
              .item--aoG {
                margin-bottom: 0.1rem;
                line-height: 0.8333333333;
                color: #202020;
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 2.4rem;
                font-weight: 400;
                font-family: Montserrat Alternates, 'Source Sans Pro';
              }
            }
          }
          .item--FuQ {
            flex-shrink: 0;
            margin-top: 2.2125rem;
            box-sizing: border-box;
            padding: 0.4rem 0.4rem 0.4rem 0rem;
            display: flex;
            align-items: center;

            .item--AWa {
              margin: 0.2rem 2.45rem 0rem 0rem;
              text-align: center;
              font-family: Montserrat Alternates, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 0.8333333333;
              color: #000000;
              white-space: nowrap;
            }
            .si-square-DUr {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2.4rem;
              height: 2.4rem;
            }
          }
        }
        .auto-group-z9ww-ZHp {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0.6rem 0rem 1.65rem;
          width: calc(100% - 2.25rem);
          height: 6.3rem;

          .group-3-Gi2 {
            height: 100%;
            position: relative;
            flex-shrink: 0;
            margin-right: 7.8rem;
            width: 32.75rem;

            .item--QZL {
              font-family: Montserrat Alternates, 'Source Sans Pro';
              left: 1.5rem;
              top: 3.1rem;
              font-weight: 400;
              color: #202020;
              font-size: 2.4rem;
              line-height: 0.8333333333;
              white-space: nowrap;
              width: 20.7rem;
              height: 2rem;
              position: absolute;
              text-align: center;
            }
            .frame-3-gWr {
              left: 0;
              top: 0;
              width: 32.75rem;
              height: 6.3rem;
              position: absolute;

              .item--RzE {
                text-align: center;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.25;
                color: #777b7e;
                font-family: Times New Roman, 'Source Sans Pro';
                white-space: nowrap;
                width: 100%;
              }
              .auto-group-nsbc-Mst {
                box-sizing: border-box;
                padding: 1.775rem 1.492rem 1.675rem 29.592rem;
                border: solid 0.3rem #c5cacf;
                border-radius: 0.4rem;
                margin-left: 0.25rem;

                .si-expandmore-tsp {
                  object-fit: contain;
                  vertical-align: top;
                  width: 1.4167rem;
                  height: 0.85rem;
                }
              }
            }
          }
          .item--QbG {
            width: 35.7rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .item-21022024-YhU {
              width: 12.1rem;
              height: 2rem;
              position: absolute;
              top: 3rem;
              color: #202020;
              white-space: nowrap;
              left: 3.55rem;
              text-align: center;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 0.8333333333;
              font-family: Montserrat Alternates, 'Source Sans Pro';
            }
            .item-10042024-S2A {
              top: 3rem;
              text-align: center;
              font-size: 2.4rem;
              font-weight: 400;
              color: #202020;
              height: 2rem;
              position: absolute;
              left: 21.65rem;
              font-family: Montserrat Alternates, 'Source Sans Pro';
              width: 12.5rem;
              line-height: 0.8333333333;
              white-space: nowrap;
            }
            .item--KLr {
              width: 1.4rem;
              top: 3rem;
              text-align: center;
              font-size: 2.4rem;
              line-height: 0.8333333333;
              color: #787b7e;
              height: 2rem;
              position: absolute;
              left: 1.15rem;
              font-weight: 400;
              font-family: Montserrat Alternates, 'Source Sans Pro';
              white-space: nowrap;
            }
            .item--2WA {
              width: 3.1rem;
              height: 2rem;
              position: absolute;
              top: 3rem;
              text-align: center;
              white-space: nowrap;
              left: 17.8rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 0.8333333333;
              color: #787b7e;
              font-family: Montserrat Alternates, 'Source Sans Pro';
            }
            .frame-4-KVG {
              width: 35.7rem;
              height: 6.3rem;
              position: absolute;
              left: 0;
              top: 0;

              .item--fZ8 {
                width: 100%;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.25;
                color: #777b7e;
                font-family: Times New Roman, 'Source Sans Pro';
                white-space: nowrap;
              }
              .auto-group-em6n-nte {
                border-radius: 0.4rem;
                margin-left: 0.2rem;
                box-sizing: border-box;
                padding: 0rem 18.7rem 0rem 16.5rem;
                width: 35.5rem;
                height: 4.3rem;
                border: solid 0.3rem #c5cacf;

                .line-19-iGW {
                  width: 100%;
                  height: 4.2rem;
                  background-color: #c6cbcf;
                }
              }
            }
          }
        }
      }
      .auto-group-q5bc-pqL {
        width: 56.5327rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .frame-9-BA6 {
          margin: 0rem 7.333rem 4rem 4.55rem;
          box-sizing: border-box;
          padding: 0.4rem 0.4rem 0.4rem 0rem;
          width: calc(100% - 11.8827rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .item--VRg {
            margin: 0.2rem 3.05rem 0rem 0rem;
            text-align: center;
            font-size: 2.4rem;
            color: #000000;
            flex-shrink: 0;
            font-weight: 400;
            line-height: 0.8333333333;
            font-family: Montserrat Alternates, 'Source Sans Pro';
            white-space: nowrap;
          }
          .si-square-MTt {
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-epea-hXk {
          width: 100%;
          height: 6.3rem;
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .frame-3-rfY {
            margin-right: 8.0327rem;
            width: 24.4rem;
            height: 100%;
            flex-shrink: 0;

            .item--zWr {
              font-family: Times New Roman, 'Source Sans Pro';
              white-space: nowrap;
              width: 100%;
              text-align: center;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.25;
              color: #777b7e;
            }
            .rectangle-8-u82 {
              width: 23.9rem;
              height: 4.3rem;
              border: solid 0.3rem #c5cacf;
              box-sizing: border-box;
              border-radius: 0.4rem;
              margin-left: 0.5rem;
            }
          }
          .item--EAJ {
            width: 24.1rem;
            height: 5.9rem;
            border-radius: 0.8rem;
            flex-shrink: 0;

            .frame-5-NGW {
              box-sizing: border-box;
              overflow: hidden;
              position: relative;
              display: flex;
              background-color: #e8ecef;
              padding: 1.7rem 2.5rem 1.65rem 2.433rem;
              width: 100%;
              height: 100%;
              align-items: center;
              border-radius: 0.8rem;

              .si-checkalt-Jfx {
                width: 2.3333rem;
                height: 2.4375rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.113rem 2.733rem 0rem 0rem;
              }
              .item--qA6 {
                margin-bottom: 0.55rem;
                line-height: 0.8333333333;
                font-family: Montserrat Alternates, 'Source Sans Pro';
                color: #202020;
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 2.4rem;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
    .frame-303-UTx {
      flex-shrink: 0;
      margin: 0rem 87.8rem 4.7rem 0rem;
      width: 81.9rem;
      height: 50.4rem;
      position: relative;

      .item-2018-PL2 {
        width: 32.2rem;
        font-size: 2.2rem;
        line-height: 0.9090909091;
        white-space: nowrap;
        font-weight: 400;
        color: #202020;
        font-family: Montserrat Alternates, 'Source Sans Pro';
        height: 2rem;
        position: absolute;
        left: 0;
        top: 0;
        text-align: center;
      }
      .item-4062-f2e {
        height: 2rem;
        position: absolute;
        top: 4.4rem;
        font-size: 2.2rem;
        font-weight: 400;
        color: #202020;
        width: 22.8rem;
        left: 0.15rem;
        text-align: center;
        line-height: 0.9090909091;
        font-family: Montserrat Alternates, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item-2092-k46 {
        text-align: center;
        font-weight: 400;
        line-height: 0.9090909091;
        width: 80.7rem;
        height: 2rem;
        top: 8.8rem;
        color: #202020;
        font-family: Montserrat Alternates, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 1.2rem;
        font-size: 2.2rem;
      }
      .item-2002-A7p {
        width: 29.8rem;
        top: 13.2rem;
        text-align: center;
        font-weight: 400;
        font-family: Montserrat Alternates, 'Source Sans Pro';
        white-space: nowrap;
        height: 2rem;
        position: absolute;
        left: 0.15rem;
        font-size: 2.2rem;
        line-height: 0.9090909091;
        color: #202020;
      }
      .item-4067-S5L {
        top: 17.6rem;
        height: 2rem;
        position: absolute;
        left: 0.2rem;
        text-align: center;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 0.9090909091;
        color: #202020;
        width: 29.8rem;
        white-space: nowrap;
        font-family: Montserrat Alternates, 'Source Sans Pro';
      }
      .item-4078-Waz {
        width: 29.9rem;
        font-weight: 400;
        font-family: Montserrat Alternates, 'Source Sans Pro';
        white-space: nowrap;
        line-height: 0.9090909091;
        color: #202020;
        height: 2rem;
        position: absolute;
        left: 0.15rem;
        top: 22rem;
        text-align: center;
        font-size: 2.2rem;
      }
      .item-4059-zWA {
        width: 30.9rem;
        text-align: center;
        line-height: 0.9090909091;
        white-space: nowrap;
        color: #202020;
        font-family: Montserrat Alternates, 'Source Sans Pro';
        height: 2rem;
        position: absolute;
        left: 0.55rem;
        top: 26.4rem;
        font-size: 2.2rem;
        font-weight: 400;
      }
      .item-4031-g86 {
        width: 19.9rem;
        top: 30.8rem;
        line-height: 0.9090909091;
        color: #202020;
        font-family: Montserrat Alternates, 'Source Sans Pro';
        white-space: nowrap;
        height: 2rem;
        position: absolute;
        left: 0;
        text-align: center;
        font-size: 2.2rem;
        font-weight: 400;
      }
      .item-2095-mvE {
        width: 48.9rem;
        position: absolute;
        left: 0.1rem;
        line-height: 0.9090909091;
        font-family: Montserrat Alternates, 'Source Sans Pro';
        white-space: nowrap;
        height: 2rem;
        top: 35.2rem;
        text-align: center;
        font-size: 2.2rem;
        font-weight: 400;
        color: #202020;
      }
      .item-2696142000451964-dhY {
        top: 39.6rem;
        text-align: center;
        font-size: 2.2rem;
        line-height: 0.9090909091;
        font-family: Montserrat Alternates, 'Source Sans Pro';
        white-space: nowrap;
        width: 68.3rem;
        height: 2rem;
        position: absolute;
        left: 0.05rem;
        font-weight: 400;
        color: #202020;
      }
      .item-2085-gA2 {
        line-height: 0.9090909091;
        white-space: nowrap;
        height: 2rem;
        left: 0;
        text-align: center;
        font-size: 2.2rem;
        font-weight: 400;
        width: 22.5rem;
        position: absolute;
        top: 44rem;
        color: #202020;
        font-family: Montserrat Alternates, 'Source Sans Pro';
      }
      .item-2-2045-Aqt {
        height: 2rem;
        left: 0.9rem;
        top: 48.4rem;
        font-weight: 400;
        line-height: 0.9090909091;
        font-family: Montserrat Alternates, 'Source Sans Pro';
        width: 43.5rem;
        position: absolute;
        text-align: center;
        font-size: 2.2rem;
        color: #202020;
        white-space: nowrap;
      }
    }
    .item--Rmp {
      column-gap: 7.5rem;
      align-items: center;
      flex-shrink: 0;
      margin: 0 78.2rem;
      width: calc(100% - 156.4rem);
      height: 2rem;
      display: flex;

      .item-1-Ldt {
        cursor: pointer;
        text-align: center;
        font-weight: 400;
        font-family: Montserrat Alternates, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 2.4rem;
        line-height: 0.8333333333;
        color: #787b7e;
        white-space: nowrap;
      }
      .item-2-sdp {
        text-align: center;
        color: #787b7e;
        white-space: nowrap;
        align-items: center;
        flex-shrink: 0;
        font-size: 2.4rem;
        line-height: 0.8333333333;
        font-family: Montserrat Alternates, 'Source Sans Pro';
        justify-content: center;
        height: 100%;
        width: 1.4rem;
        cursor: pointer;
        font-weight: 400;
        display: flex;
      }
      .item-3-ygr {
        flex-shrink: 0;
        cursor: pointer;
        font-size: 2.4rem;
        font-weight: 400;
        white-space: nowrap;
        text-align: center;
        line-height: 0.8333333333;
        color: #000000;
        font-family: Montserrat Alternates, 'Source Sans Pro';
      }
    }
  }
  .frame-302-mMp {
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 6rem;
    height: 101rem;
    position: absolute;
    left: 0;
  }
  .line-2-WaJ {
    height: 0.3rem;
    position: absolute;
    left: 5.9998rem;
    top: 41.4046rem;
    background-color: #c6cbcf;
    width: 186.0004rem;
  }
  .doubarrow-dup {
    width: 5.1rem;
    align-items: center;
    box-sizing: border-box;
    height: 4.2rem;
    position: absolute;
    left: 0.4rem;
    top: 96.3rem;
    display: flex;
    padding: 1.4rem 1.75rem;

    .si-chevronright-97U {
      width: 0.7rem;
      height: 1.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.2rem;
    }
    .si-chevronright-518 {
      flex-shrink: 0;
      width: 0.7rem;
      height: 1.4rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .item--CrS {
    left: 5.9998rem;
    top: 33.2rem;
    border-bottom: solid 0.3rem #c6cbcf;
    box-sizing: border-box;
    width: 186.0004rem;
    height: 61.3137rem;
    position: absolute;

    .auto-group-h7bk-KgA {
      border-left: solid 0.3rem #c6cbcf;
      width: 100%;
      height: 61.0001rem;
      position: relative;
      border-right: solid 0.3rem #c6cbcf;
      box-sizing: border-box;

      .frame-12-eTY {
        position: absolute;
        top: 3.6rem;
        line-height: 1.1764705882;
        color: #787b7e;
        border: solid 0.3rem #c5cacf;
        border-radius: 0.8rem;
        padding: 1.3rem 4.1rem;
        text-align: center;
        font-weight: 400;
        font-family: Montserrat Alternates, 'Source Sans Pro';
        width: 179.2rem;
        height: 4.6rem;
        overflow: hidden;
        letter-spacing: 0.748rem;
        box-sizing: border-box;
        left: 4.4002rem;
        font-size: 1.7rem;
        white-space: nowrap;
      }
      .frame-13-5ok {
        height: 3.9rem;
        position: absolute;
        box-sizing: border-box;
        padding: 0.2rem 4.625rem 0.95rem 4.625rem;
        width: 183.6rem;
        left: 0.0002rem;
        top: 0;
        overflow: hidden;
        border: solid 0.3rem #c6cbcf;
        border-radius: 1.6rem 1.6rem 0 0;

        .line-10-b1Q {
          margin-bottom: 0.45rem;
          width: 0rem;
          height: 0.3rem;
          background-color: #c6cbcf;
        }
        .item--vpN {
          white-space: nowrap;
          width: 100%;
          text-align: center;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 0.8333333333;
          color: #787b7e;
          font-family: Montserrat Alternates, 'Source Sans Pro';
        }
      }
      .line-5-zJS {
        position: absolute;
        left: 0;
        top: 21.4137rem;
        background-color: #c6cbcf;
        width: 186.0004rem;
        height: 0.3rem;
      }
      .line-11-XZG {
        width: 186.0004rem;
        height: 0.3rem;
        position: absolute;
        left: 0;
        top: 52.2076rem;
        background-color: #c6cbcf;
      }
      .line-3-5Kt {
        width: 186.0004rem;
        height: 0.3rem;
        position: absolute;
        left: 0;
        top: 12.6076rem;
        background-color: #c6cbcf;
      }
      .line-12-1zE {
        left: 0;
        top: 43.4015rem;
        background-color: #c6cbcf;
        width: 186.0004rem;
        height: 0.3rem;
        position: absolute;
      }
      .line-6-NJz {
        height: 0.3rem;
        position: absolute;
        left: 0;
        top: 30.2198rem;
        background-color: #c6cbcf;
        width: 186.0004rem;
      }
      .line-7-7nN {
        width: 186.0004rem;
        height: 0.3rem;
        position: absolute;
        left: 0;
        top: 25.8167rem;
        background-color: #c6cbcf;
      }
      .line-14-U78 {
        background-color: #c6cbcf;
        width: 186.0004rem;
        height: 0.3rem;
        position: absolute;
        left: 0;
        top: 56.6106rem;
      }
      .line-4-1cr {
        left: 0;
        top: 17.0106rem;
        background-color: #c6cbcf;
        width: 186.0004rem;
        height: 0.3rem;
        position: absolute;
      }
      .line-15-AEr {
        width: 186.0004rem;
        height: 0.3rem;
        position: absolute;
        left: 0;
        top: 47.8046rem;
        background-color: #c6cbcf;
      }
      .line-8-WZc {
        background-color: #c6cbcf;
        width: 186.0004rem;
        height: 0.3rem;
        position: absolute;
        left: 0;
        top: 34.6228rem;
      }
      .line-9-45L {
        background-color: #c6cbcf;
        width: 186.0004rem;
        height: 0.3rem;
        position: absolute;
        left: 0;
        top: 39.0258rem;
      }
      .item--QQ6 {
        left: 1.2002rem;
        top: 4.8rem;
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 55rem;
        row-gap: 2.2rem;
        align-items: center;
        width: 2.2rem;

        .component-18-h8J {
          width: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .rectangle-17-Ffc {
            width: 100%;
            height: 2.2rem;
            border: solid 0.15rem #787b7e;
            box-sizing: border-box;
            border-radius: 0.4rem;
          }
        }
        .component-17-aht {
          flex-shrink: 0;
          width: 100%;
          cursor: pointer;

          .rectangle-17-Yuc {
            width: 100%;
            height: 2.2rem;
            border: solid 0.15rem #787b7e;
            box-sizing: border-box;
            border-radius: 0.4rem;
          }
        }
        .component-16-gkv {
          width: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .rectangle-17-exe {
            width: 100%;
            height: 2.2rem;
            border: solid 0.15rem #787b7e;
            box-sizing: border-box;
            border-radius: 0.4rem;
          }
        }
        .component-15-bcz {
          width: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .rectangle-17-Zpi {
            border: solid 0.15rem #787b7e;
            box-sizing: border-box;
            border-radius: 0.4rem;
            width: 100%;
            height: 2.2rem;
          }
        }
        .component-14-iBp {
          flex-shrink: 0;
          width: 100%;
          cursor: pointer;

          .rectangle-17-5HG {
            width: 100%;
            height: 2.2rem;
            border: solid 0.15rem #787b7e;
            box-sizing: border-box;
            border-radius: 0.4rem;
          }
        }
        .component-13-DeN {
          width: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .rectangle-17-bFc {
            width: 100%;
            height: 2.2rem;
            border: solid 0.15rem #787b7e;
            box-sizing: border-box;
            border-radius: 0.4rem;
          }
        }
        .component-12-iLE {
          cursor: pointer;
          flex-shrink: 0;
          width: 100%;

          .rectangle-17-gH4 {
            width: 100%;
            height: 2.2rem;
            border: solid 0.15rem #787b7e;
            box-sizing: border-box;
            border-radius: 0.4rem;
          }
        }
        .component-11-1q8 {
          width: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .rectangle-17-Nva {
            width: 100%;
            height: 2.2rem;
            border: solid 0.15rem #787b7e;
            box-sizing: border-box;
            border-radius: 0.4rem;
          }
        }
        .component-10-Kav {
          width: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .rectangle-17-VEW {
            width: 100%;
            height: 2.2rem;
            border: solid 0.15rem #787b7e;
            box-sizing: border-box;
            border-radius: 0.4rem;
          }
        }
        .component-9-Rtr {
          width: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .rectangle-17-Q6a {
            width: 100%;
            height: 2.2rem;
            border: solid 0.15rem #787b7e;
            box-sizing: border-box;
            border-radius: 0.4rem;
          }
        }
        .component-8-Xgz {
          width: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .rectangle-17-h5g {
            width: 100%;
            height: 2.2rem;
            border: solid 0.15rem #787b7e;
            box-sizing: border-box;
            border-radius: 0.4rem;
          }
        }
        .component-7-2Nr {
          flex-shrink: 0;
          width: 100%;
          cursor: pointer;

          .rectangle-17-PjC {
            width: 100%;
            height: 2.2rem;
            border: solid 0.15rem #787b7e;
            box-sizing: border-box;
            border-radius: 0.4rem;
          }
        }
        .component-6-wVp {
          width: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .rectangle-17-iFg {
            border: solid 0.15rem #787b7e;
            box-sizing: border-box;
            border-radius: 0.4rem;
            width: 100%;
            height: 2.2rem;
          }
        }
      }
    }
  }
  .frame-309-c6A {
    top: 3.6rem;
    display: flex;
    align-items: center;
    width: 32.4rem;
    height: 3.2rem;
    position: absolute;
    left: 6rem;

    .frame-11-9Lz {
      display: flex;
      background-color: #ffffff;
      border-radius: 0.8rem 0.8rem 0 0;
      box-sizing: border-box;
      height: 100%;
      position: relative;
      align-items: center;
      flex-shrink: 0;
      padding: 0.4rem 0.5rem 0.4rem 1.5rem;
      overflow: hidden;

      .item--snn {
        text-align: center;
        font-size: 2rem;
        font-family: Montserrat Alternates, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 1.3rem;
        line-height: 1;
        color: #202020;
        flex-shrink: 0;
        font-weight: 400;
      }
      .si-close-aBQ {
        height: 2.4rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 2.4rem;
      }
    }
    .component-3-h18 {
      display: flex;
      align-items: center;
      background-color: #b3becd;
      flex-shrink: 0;
      box-sizing: border-box;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      border-radius: 0.8rem 0.8rem 0 0;
      padding: 0.4rem 0.45rem 0.4rem 3.6rem;
      height: 100%;

      .item--1Xc {
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        color: #787b7e;
        font-family: Montserrat Alternates, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 3.35rem 0.2rem 0rem;
        font-weight: 400;
        line-height: 1;
      }
      .si-close-ucz {
        width: 2.4rem;
        height: 2.4rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .frame-10-d3C {
    box-sizing: border-box;
    width: 29rem;
    top: 1.2rem;
    align-items: center;
    padding-left: 0.3167rem;
    height: 4.4rem;
    position: absolute;
    left: 158.2rem;
    display: flex;

    .si-notificationsthick-LiJ {
      margin: 0.6rem 2.633rem 0rem 0rem;
      width: 3.1667rem;
      height: 3.1667rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .si-info-eiz {
      margin: 0.6rem 2.317rem 0rem 0rem;
      width: 3.1667rem;
      height: 3.1667rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .si-useralt5-z2A {
      height: 3.6rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.6rem 2.2rem 0rem 0rem;
      width: 3.6rem;
    }
    .item-2024-14022024-6L6 {
      color: #202020;
      font-family: Montserrat Alternates, 'Source Sans Pro';
      margin-bottom: 0.4rem;
      max-width: 11.6rem;
      font-weight: 400;
      line-height: 1.25;
      text-align: right;
      font-size: 1.6rem;
      flex-shrink: 0;
    }
  }
}
