
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 189.6rem;
}.item--3mG {
  width: 100%;
  height: 101rem;
  position: relative;
  overflow: hidden;
  background-color: #e8ecef;

  .rectangle-3-y98 {
    top: 3.6rem;
    background-color: #e8ecef;
    border-radius: 0.8rem 0.8rem 0 0;
    width: 16.4rem;
    height: 3.2rem;
    position: absolute;
    left: 22.2rem;
  }
  .rectangle-4-5hx {
    border-radius: 0.8rem 0.8rem 0 0;
    width: 16.4rem;
    height: 3.2rem;
    position: absolute;
    left: 38.3rem;
    top: 3.6rem;
    background-color: #e8ecef;
  }
  .frame-306-QVL {
    position: absolute;
    left: 6rem;
    top: 6.8rem;
    overflow: hidden;
    background-color: #ffffff;
    width: 183.6rem;
    height: 94.2rem;

    .auto-group-mm8r-Xpr {
      top: 30.503rem;
      align-items: center;
      display: flex;
      box-sizing: border-box;
      width: 183.6rem;
      height: 63.697rem;
      flex-direction: column;
      padding: 5.097rem 5.25rem 1.5rem 5.25rem;
      position: absolute;
      left: 0;

      .frame-303-Dxa {
        margin: 0rem 91.2rem 4.7rem 0rem;
        width: 81.9rem;
        height: 50.4rem;
        position: relative;
        flex-shrink: 0;

        .item-2018-YV4 {
          white-space: nowrap;
          width: 32.2rem;
          position: absolute;
          text-align: center;
          font-size: 2.2rem;
          line-height: 0.9090909091;
          color: #202020;
          height: 2rem;
          left: 0;
          top: 0;
          font-weight: 400;
          font-family: Montserrat Alternates, 'Source Sans Pro';
        }
        .item-4062-D5Q {
          white-space: nowrap;
          height: 2rem;
          font-size: 2.2rem;
          font-weight: 400;
          color: #202020;
          text-align: center;
          line-height: 0.9090909091;
          font-family: Montserrat Alternates, 'Source Sans Pro';
          width: 22.8rem;
          position: absolute;
          left: 0.15rem;
          top: 4.4rem;
        }
        .item-2092-sQr {
          left: 1.2rem;
          top: 8.8rem;
          font-weight: 400;
          line-height: 0.9090909091;
          white-space: nowrap;
          width: 80.7rem;
          height: 2rem;
          position: absolute;
          text-align: center;
          font-size: 2.2rem;
          color: #202020;
          font-family: Montserrat Alternates, 'Source Sans Pro';
        }
        .item-2002-gNJ {
          color: #202020;
          white-space: nowrap;
          position: absolute;
          left: 0.15rem;
          top: 13.2rem;
          font-size: 2.2rem;
          line-height: 0.9090909091;
          font-family: Montserrat Alternates, 'Source Sans Pro';
          width: 29.8rem;
          height: 2rem;
          text-align: center;
          font-weight: 400;
        }
        .item-4067-9mg {
          position: absolute;
          font-size: 2.2rem;
          line-height: 0.9090909091;
          width: 29.8rem;
          left: 0.2rem;
          top: 17.6rem;
          text-align: center;
          font-weight: 400;
          color: #202020;
          font-family: Montserrat Alternates, 'Source Sans Pro';
          white-space: nowrap;
          height: 2rem;
        }
        .item-4078-EYE {
          text-align: center;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 0.9090909091;
          color: #202020;
          font-family: Montserrat Alternates, 'Source Sans Pro';
          height: 2rem;
          position: absolute;
          top: 22rem;
          white-space: nowrap;
          width: 29.9rem;
          left: 0.15rem;
        }
        .item-4059-JY6 {
          font-size: 2.2rem;
          font-weight: 400;
          color: #202020;
          width: 30.9rem;
          height: 2rem;
          left: 0.55rem;
          top: 26.4rem;
          text-align: center;
          font-family: Montserrat Alternates, 'Source Sans Pro';
          position: absolute;
          line-height: 0.9090909091;
          white-space: nowrap;
        }
        .item-4031-Ziv {
          font-size: 2.2rem;
          color: #202020;
          font-family: Montserrat Alternates, 'Source Sans Pro';
          white-space: nowrap;
          height: 2rem;
          position: absolute;
          top: 30.8rem;
          font-weight: 400;
          line-height: 0.9090909091;
          width: 19.9rem;
          left: 0;
          text-align: center;
        }
        .item-2095-f1G {
          line-height: 0.9090909091;
          white-space: nowrap;
          width: 48.9rem;
          left: 0.1rem;
          top: 35.2rem;
          text-align: center;
          font-weight: 400;
          height: 2rem;
          position: absolute;
          font-size: 2.2rem;
          color: #202020;
          font-family: Montserrat Alternates, 'Source Sans Pro';
        }
        .item-2696142000451964-Ja2 {
          top: 39.6rem;
          text-align: center;
          font-size: 2.2rem;
          font-weight: 400;
          width: 68.3rem;
          height: 2rem;
          position: absolute;
          left: 0.05rem;
          line-height: 0.9090909091;
          color: #202020;
          font-family: Montserrat Alternates, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-2085-8ox {
          height: 2rem;
          position: absolute;
          left: 0;
          text-align: center;
          font-weight: 400;
          color: #202020;
          white-space: nowrap;
          width: 22.5rem;
          top: 44rem;
          font-size: 2.2rem;
          line-height: 0.9090909091;
          font-family: Montserrat Alternates, 'Source Sans Pro';
        }
        .item-2-2045-2PY {
          position: absolute;
          left: 0.9rem;
          top: 48.4rem;
          text-align: center;
          color: #202020;
          font-family: Montserrat Alternates, 'Source Sans Pro';
          white-space: nowrap;
          width: 43.5rem;
          height: 2rem;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 0.9090909091;
        }
      }
      .item--sQA {
        align-items: center;
        flex-shrink: 0;
        margin: 0 77.2rem;
        width: calc(100% - 154.4rem);
        height: 2rem;
        display: flex;
        column-gap: 7.5rem;

        .item-1-aZU {
          font-family: Montserrat Alternates, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 0.8333333333;
          color: #000000;
        }
        .item-2-v7Y {
          white-space: nowrap;
          display: flex;
          text-align: center;
          width: 1.4rem;
          height: 100%;
          font-weight: 400;
          justify-content: center;
          cursor: pointer;
          font-size: 2.4rem;
          font-family: Montserrat Alternates, 'Source Sans Pro';
          align-items: center;
          flex-shrink: 0;
          line-height: 0.8333333333;
          color: #787b7e;
        }
        .item-4-d1x {
          height: 100%;
          line-height: 0.8333333333;
          color: #787b7e;
          font-family: Montserrat Alternates, 'Source Sans Pro';
          cursor: pointer;
          display: flex;
          width: 1.4rem;
          text-align: center;
          font-size: 2.4rem;
          white-space: nowrap;
          font-weight: 400;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
        }
      }
    }
    .frame-307-vFx {
      width: 167.0827rem;
      height: 15.7125rem;
      position: absolute;
      left: 4.25rem;
      top: 5.4875rem;
      display: flex;
      align-items: flex-end;

      .auto-group-lpta-3bU {
        width: 19.05rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 6.1rem;

        .frame-7-Bhg {
          flex-shrink: 0;
          padding: 1.002rem 2.4rem 1rem 1.601rem;
          align-items: center;
          background-color: #e8ecef;
          overflow: hidden;
          position: relative;
          display: flex;
          border-radius: 0.8rem;
          margin: 0rem 1.9rem 4rem 0.75rem;
          box-sizing: border-box;
          width: calc(100% - 2.65rem);

          .item-1-63x {
            flex-shrink: 0;
            margin-right: 1.8004rem;
            width: 2.8982rem;
            height: 3.0981rem;
            object-fit: contain;
            vertical-align: top;
          }
          .item--z9L {
            text-align: center;
            line-height: 0.8333333333;
            color: #202020;
            font-family: Montserrat Alternates, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.4019rem;
            font-size: 2.4rem;
            font-weight: 400;
          }
        }
        .group-2-T2v {
          width: 100%;
          height: 6.3rem;
          position: relative;
          flex-shrink: 0;

          .item--QTx {
            font-family: Montserrat Alternates, 'Source Sans Pro';
            width: 10.2rem;
            position: absolute;
            color: #202020;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 0.8333333333;
            white-space: nowrap;
            height: 2rem;
            left: 2.3rem;
            top: 3rem;
          }
          .frame-2-hhx {
            width: 19.05rem;
            height: 6.3rem;
            position: absolute;
            left: 0;
            top: 0;

            .item--e7Q {
              color: #777b7e;
              font-family: Times New Roman, 'Source Sans Pro';
              white-space: nowrap;
              width: 100%;
              text-align: center;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.25;
            }
            .auto-group-uf4z-YyU {
              margin-left: 0.75rem;
              box-sizing: border-box;
              padding: 1.775rem 1.492rem 1.675rem 15.392rem;
              border: solid 0.3rem #c5cacf;
              border-radius: 0.4rem;

              .si-expandmore-5iW {
                width: 1.4167rem;
                height: 0.85rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
        }
      }
      .auto-group-nbjl-PjC {
        flex-shrink: 0;
        margin-right: 6.9rem;
        width: 78.5rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-pkfl-YMC {
          flex-shrink: 0;
          margin-bottom: 4rem;
          width: 100%;
          height: 5.4125rem;
          display: flex;
          align-items: flex-end;

          .item--67p {
            margin-right: 10.85rem;
            width: 22.4rem;
            height: 100%;
            border-radius: 0.8rem;
            flex-shrink: 0;

            .frame-6-2XG {
              width: 100%;
              height: 100%;
              position: relative;
              display: flex;
              align-items: center;
              border-radius: 0.8rem;
              box-sizing: border-box;
              padding: 1rem 2.8rem 1rem 1.6rem;
              overflow: hidden;
              background-color: #e8ecef;

              .cicle-Zn6 {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.6rem;
                width: 4.2rem;
                height: 3.4125rem;
                position: relative;
                object-fit: contain;
              }
              .item--WBY {
                margin-bottom: 0.1rem;
                font-size: 2.4rem;
                line-height: 0.8333333333;
                color: #202020;
                font-family: Montserrat Alternates, 'Source Sans Pro';
                text-align: center;
                font-weight: 400;
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .item--NUe {
            margin-top: 2.2125rem;
            box-sizing: border-box;
            padding: 0.4rem 0.4rem 0.4rem 0rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .item--VJN {
              text-align: center;
              font-weight: 400;
              line-height: 0.8333333333;
              font-family: Montserrat Alternates, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.2rem 2.45rem 0rem 0rem;
              font-size: 2.4rem;
              color: #000000;
            }
            .si-square-xSr {
              vertical-align: top;
              flex-shrink: 0;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
            }
          }
        }
        .auto-group-rpmc-VSn {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0.6rem 0rem 1.65rem;
          width: calc(100% - 2.25rem);
          height: 6.3rem;

          .group-3-oiN {
            margin-right: 7.8rem;
            width: 32.75rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .item--ZSe {
              top: 3.1rem;
              font-weight: 400;
              line-height: 0.8333333333;
              color: #202020;
              white-space: nowrap;
              width: 20.7rem;
              left: 1.5rem;
              text-align: center;
              font-size: 2.4rem;
              font-family: Montserrat Alternates, 'Source Sans Pro';
              height: 2rem;
              position: absolute;
            }
            .frame-3-dxJ {
              width: 32.75rem;
              height: 6.3rem;
              position: absolute;
              left: 0;
              top: 0;

              .item--PRg {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.25;
                color: #777b7e;
                font-family: Times New Roman, 'Source Sans Pro';
                white-space: nowrap;
                width: 100%;
                text-align: center;
              }
              .auto-group-8jj4-uup {
                padding: 1.775rem 1.492rem 1.675rem 29.592rem;
                border: solid 0.3rem #c5cacf;
                border-radius: 0.4rem;
                margin-left: 0.25rem;
                box-sizing: border-box;

                .si-expandmore-FCz {
                  vertical-align: top;
                  width: 1.4167rem;
                  height: 0.85rem;
                  object-fit: contain;
                }
              }
            }
          }
          .item--N2i {
            width: 35.7rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .item-21022024-uHY {
              color: #202020;
              white-space: nowrap;
              height: 2rem;
              top: 3rem;
              line-height: 0.8333333333;
              text-align: center;
              font-size: 2.4rem;
              font-weight: 400;
              font-family: Montserrat Alternates, 'Source Sans Pro';
              width: 12.1rem;
              position: absolute;
              left: 3.55rem;
            }
            .item-10042024-bw4 {
              white-space: nowrap;
              width: 12.5rem;
              height: 2rem;
              position: absolute;
              left: 21.65rem;
              top: 3rem;
              font-weight: 400;
              color: #202020;
              text-align: center;
              font-size: 2.4rem;
              line-height: 0.8333333333;
              font-family: Montserrat Alternates, 'Source Sans Pro';
            }
            .item--J4n {
              position: absolute;
              left: 1.15rem;
              font-size: 2.4rem;
              font-weight: 400;
              width: 1.4rem;
              height: 2rem;
              top: 3rem;
              text-align: center;
              line-height: 0.8333333333;
              color: #787b7e;
              font-family: Montserrat Alternates, 'Source Sans Pro';
              white-space: nowrap;
            }
            .item--bpa {
              font-family: Montserrat Alternates, 'Source Sans Pro';
              white-space: nowrap;
              width: 3.1rem;
              position: absolute;
              left: 17.8rem;
              color: #787b7e;
              font-weight: 400;
              line-height: 0.8333333333;
              height: 2rem;
              top: 3rem;
              text-align: center;
              font-size: 2.4rem;
            }
            .frame-4-7nv {
              left: 0;
              top: 0;
              width: 35.7rem;
              height: 6.3rem;
              position: absolute;

              .item--sGJ {
                width: 100%;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.25;
                color: #777b7e;
                font-family: Times New Roman, 'Source Sans Pro';
                white-space: nowrap;
              }
              .auto-group-zdee-oQr {
                border: solid 0.3rem #c5cacf;
                border-radius: 0.4rem;
                margin-left: 0.2rem;
                box-sizing: border-box;
                padding: 0rem 18.7rem 0rem 16.5rem;
                width: 35.5rem;
                height: 4.3rem;

                .line-19-vVU {
                  width: 100%;
                  height: 4.2rem;
                  background-color: #c6cbcf;
                }
              }
            }
          }
        }
      }
      .auto-group-yxol-qMY {
        width: 56.5327rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .frame-9-zES {
          margin: 0rem 7.333rem 4rem 4.55rem;
          box-sizing: border-box;
          padding: 0.4rem 0.4rem 0.4rem 0rem;
          width: calc(100% - 11.8827rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .item--6HU {
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 0.8333333333;
            color: #000000;
            white-space: nowrap;
            margin: 0.2rem 3.05rem 0rem 0rem;
            text-align: center;
            font-family: Montserrat Alternates, 'Source Sans Pro';
          }
          .si-square-x4n {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 2.4rem;
            height: 2.4rem;
          }
        }
        .auto-group-w5zx-VqQ {
          width: 100%;
          height: 6.3rem;
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .frame-3-3c2 {
            margin-right: 8.0327rem;
            width: 24.4rem;
            height: 100%;
            flex-shrink: 0;

            .item--Pvn {
              width: 100%;
              text-align: center;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.25;
              color: #777b7e;
              font-family: Times New Roman, 'Source Sans Pro';
              white-space: nowrap;
            }
            .rectangle-8-ueE {
              box-sizing: border-box;
              border-radius: 0.4rem;
              margin-left: 0.5rem;
              width: 23.9rem;
              height: 4.3rem;
              border: solid 0.3rem #c5cacf;
            }
          }
          .item--qGz {
            width: 24.1rem;
            height: 5.9rem;
            border-radius: 0.8rem;
            flex-shrink: 0;

            .frame-5-mgS {
              overflow: hidden;
              position: relative;
              border-radius: 0.8rem;
              display: flex;
              align-items: center;
              background-color: #e8ecef;
              box-sizing: border-box;
              padding: 1.7rem 2.5rem 1.65rem 2.433rem;
              width: 100%;
              height: 100%;

              .si-checkalt-JgN {
                height: 2.4375rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.113rem 2.733rem 0rem 0rem;
                width: 2.3333rem;
              }
              .item--puc {
                font-size: 2.4rem;
                line-height: 0.8333333333;
                margin-bottom: 0.55rem;
                text-align: center;
                font-family: Montserrat Alternates, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-weight: 400;
                color: #202020;
              }
            }
          }
        }
      }
    }
    .line-3-5qY {
      position: absolute;
      left: 0;
      top: 30.203rem;
      background-color: #e8ecef;
      width: 183.6002rem;
      height: 0.3rem;
    }
    .line-2-ReW {
      width: 183.6002rem;
      height: 0.3rem;
      position: absolute;
      left: 0;
      top: 26.6rem;
      background-color: #e8ecef;
    }
    .item--N3x {
      color: #787b7e;
      position: absolute;
      left: 4.65rem;
      top: 27.2rem;
      text-align: center;
      line-height: 0.8333333333;
      white-space: nowrap;
      width: 29.1rem;
      height: 2rem;
      font-size: 2.4rem;
      font-weight: 400;
      font-family: Montserrat Alternates, 'Source Sans Pro';
    }
  }
  .frame-302-28W {
    left: 0;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 6rem;
    height: 101rem;
    position: absolute;
  }
  .doubarrow-Z8S {
    box-sizing: border-box;
    padding: 1.4rem 1.75rem;
    position: absolute;
    display: flex;
    align-items: center;
    width: 5.1rem;
    height: 4.2rem;
    left: 0.4rem;
    top: 96.3rem;

    .si-chevronright-45C {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.2rem;
      width: 0.7rem;
      height: 1.4rem;
    }
    .si-chevronright-bL2 {
      width: 0.7rem;
      height: 1.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .item--jBL {
    width: 183.6002rem;
    height: 56.4137rem;
    position: absolute;
    left: 5.9998rem;
    top: 38.1rem;
    border-bottom: solid 0.3rem #e8ecef;
    box-sizing: border-box;

    .item--eZC {
      letter-spacing: 0.748rem;
      font-family: Montserrat Alternates, 'Source Sans Pro';
      height: 2rem;
      position: absolute;
      top: 0;
      text-align: center;
      font-size: 1.7rem;
      font-weight: 400;
      white-space: nowrap;
      width: 52.7rem;
      left: 7.3502rem;
      line-height: 1.1764705882;
      color: #787b7e;
    }
    .auto-group-vcnr-tyL {
      width: 183.6002rem;
      height: 50.6rem;
      position: absolute;
      left: 0;
      top: 4.3rem;
      object-fit: contain;
      vertical-align: top;
    }
    .line-2-EXQ {
      width: 183.6002rem;
      height: 0.3rem;
      position: absolute;
      left: 0;
      top: 3.3046rem;
      background-color: #e8ecef;
    }
  }
  .frame-309-m1Y {
    height: 3.2rem;
    position: absolute;
    left: 6rem;
    top: 3.6rem;
    display: flex;
    align-items: center;
    width: 32.4rem;

    .frame-11-63p {
      border-radius: 0.8rem 0.8rem 0 0;
      height: 100%;
      overflow: hidden;
      position: relative;
      align-items: center;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 0.4rem 0.5rem 0.4rem 1.5rem;
      display: flex;
      flex-shrink: 0;

      .item--ToU {
        text-align: center;
        line-height: 1;
        color: #202020;
        font-family: Montserrat Alternates, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 1.3rem;
        font-weight: 400;
        flex-shrink: 0;
        font-size: 2rem;
      }
      .si-close-y18 {
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 2.4rem;
        height: 2.4rem;
      }
    }
    .component-3-FDY {
      cursor: pointer;
      position: relative;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.4rem 0.45rem 0.4rem 3.6rem;
      height: 100%;
      overflow: hidden;
      display: flex;
      background-color: #b3becd;
      border-radius: 0.8rem 0.8rem 0 0;

      .item--YCe {
        margin: 0rem 3.35rem 0.2rem 0rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1;
        color: #787b7e;
        text-align: center;
        font-family: Montserrat Alternates, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .si-close-39Q {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 2.4rem;
        height: 2.4rem;
        cursor: pointer;
      }
    }
  }
  .frame-10-Mft {
    position: absolute;
    display: flex;
    top: 1.2rem;
    align-items: center;
    box-sizing: border-box;
    padding-left: 0.3167rem;
    width: 29rem;
    height: 4.4rem;
    left: 158.2rem;

    .si-notificationsthick-TU2 {
      margin: 0.6rem 2.633rem 0rem 0rem;
      width: 3.1667rem;
      height: 3.1667rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .si-info-yBU {
      flex-shrink: 0;
      margin: 0.6rem 2.317rem 0rem 0rem;
      width: 3.1667rem;
      height: 3.1667rem;
      object-fit: contain;
      vertical-align: top;
    }
    .si-useralt5-5EW {
      flex-shrink: 0;
      margin: 0.6rem 2.2rem 0rem 0rem;
      width: 3.6rem;
      height: 3.6rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
    }
    .item-2024-14022024-z6a {
      color: #202020;
      font-family: Montserrat Alternates, 'Source Sans Pro';
      margin-bottom: 0.4rem;
      max-width: 11.6rem;
      text-align: right;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.25;
      flex-shrink: 0;
    }
  }
}
